# Git
.git
.gitignore

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv*
env/
venv/

# Build outputs
build/
dist/
*.egg-info/

# Environment & secrets
.env
.env.*
*.key
*.pem

# Editor and OS junk
.DS_Store
.idea/
.vscode/
Thumbs.db
